.dropdown-container {
    display: none;
    top: 0.8rem;
}

.dropdown-content {
    position: absolute;
    min-width: 220px;
    z-index: 1;
    @include very-mild-shadow;
    border-radius: 10px;
    

    a {
        display: block;
        margin: 0.3rem;
        padding: 0.75rem 1rem;
        text-decoration: none;
    }
}

.dropdown:hover .dropdown-container {
    display: flex;
    justify-content: center;
    position: relative;
}

.dropdown:hover {

    .active {
        color: $black;
    }
}