@import url('https://fonts.googleapis.com/css?family=Montserrat:400,900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
span,
p { font-weight: 400; }

h1 {
    font-size: 42px;
    color: $dark-navy-blue;
    text-transform: uppercase;
}

.bold {  
    font-weight: 900; // H1
}

h2 {
    font-size: 30px;
    color: $dark-grey;
    text-transform: uppercase;
}

h3 {
    font-size: 18px;
    color: $dark-grey;
    text-transform: uppercase;
}

h4 {
    font-size: 18px;
    color: $dark-navy-blue;
}

span {
    font-size: 12px;
    letter-spacing: 2px;
    color: $white;
}

p {
    font-size: 16px;
    line-height: 26px;
}

a {
    font-size: 18px;
    color: $dark-grey;
    text-decoration: none;
}

@media screen and (max-width: 1187px) {
    a {
        font-size: 12px;
    }
}