// Color variables
$dark-navy-blue: #131729;
$light-navy-blue: #4C4B5F;
$dark-grey: #8F8E9E;
$light-grey: #D2D2D8;
$dark-white: #E9E8EC;
$white: #ffffff;
$black: #000000;
$red: #8B263C;

// Shadows
$very-mild-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.75);
$slightly-mild-shadow: 0px 3px 18px -4px rgba(0, 0, 0, 0.75);
$mild-shadow: 0px 3px 45px -1px rgba(0, 0, 0, 0.75);